{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  width: 80%;
  display: flex;
  flex-direction: row;
}
img{
width: 250px;
border-radius: 60%;
height: 300px;
margin-top: 30px;
margin-bottom: 30px;
margin-left: 50px;
margin-right: 20px;

}
.left-container{
  width: 400px;
  background-color: rgba(1, 43, 38, 0.793);
  margin-left: 20px;
  margin-top: 30px;
  margin-right: 30px;
}
.left-container p{
  color: rgb(247, 248, 248);
  padding-left: 50px;
}
.left-container h4{
  color: white;
  padding-left: 50px;
}
.left-container h2{
  color: white;
  padding-left: 50px;
}
ul{
  padding-left: 70px;
}
li{
  color: white;
  padding-top: o.2rem;
  padding-bottom: 0.2rem;
}
.right-container{
  padding-left: 50px;
  margin-left: 10px;
  margin-top: 30px;

}
